.THIS .yellow {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AJZ");
    background-size: 1px;
}
.THIS .orangeacent {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AK8");
    background-size: 1px;
}
.THIS .orange {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AKD");
    background-size: 1px; 
}
.THIS .green {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AKN");
    background-size: 1px; 
}
.THIS .lightblue {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AKc");
    background-size: 1px; 
}
.THIS .darkbluematt {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AKh");
    color: white;
    background-size: 1px; 
}
.THIS .lightgreen {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009ALV");
    background-size: 1px; 
}
.THIS .lightblueshiny {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009ALa");
    background-size: 1px; 
}
.THIS .lightpink {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009ALf");
    background-size: 1px; 
}
.THIS .lightred {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009ALk");
    background-size: 1px;
}
.THIS .darkblue {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009ALp");
    color: white;
    background-size: 1px; 
}
.THIS .purple {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009ALz");
    background-size: 1px; 
}
.THIS .brightgreenacent {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AM9");
    background-size: 1px; 
}
.THIS .red {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AME");
    background-size: 1px; 
}
.THIS .black1 {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AMJ");
    color: white;
  /*  background-size: 1px; */
}
.THIS .darkgreen {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AMO");
   /* background-size: 1px; */
}
.THIS .green2 {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AMO");
    background-size: 1px; 
}
.THIS .gold {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AMT");
    background-size: 1px; 
}
.THIS .grey {
    background-image : url("https://networkcircle--c.documentforce.com/servlet/servlet.FileDownload?file=0159Y0000009AMY");
    background-size: 1px; 
}
.THIS .white {
    color: white;
  /*  background-color: white;
    background-size: 1px; */
}